body {
	background-image: url('visuals/graph-tile.png');
}

#canvas {
	background-color: black;
	position: absolute;
	left:0;
	right:0;
	top: 0;
	bottom: 0;
	margin: auto;
} 

#gameplay {
	background-color: transparent;
	position: absolute;
	left:0;
	right:0;
	top: 0;
	bottom: 0;
	margin: auto;
	height:100%;
	width:100%;
}

#spotlight{
	background-color: transparent;
	position: absolute;
	left:0;
	right:0;
	top: 0;
	bottom: 0;
	margin: auto;
	height:100%;
	width:100%;
}